
<div *ngIf="client.length; else loading ">
  <button (click)="addButton()">Добавить</button>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>phone</th>
      <th>name</th>
      <th>title</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr app-form-add *ngIf=addFormSee></tr>
    <tr *ngFor="let cl of client; let idx = index">
      <td>{{idx}}</td>
      <td>{{cl.id}}</td>
      <td>{{cl.phone}}</td>
      <td>{{cl.name}}</td>
      <td>{{cl.title}}</td>
      <td>
        <button>Изменить</button>
        <button (click)="deleteId(cl.id)">Удалить</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
