<div *ngIf="client.length; else loading ">
  <button (click)="addButton()">Добавить</button>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>phone</th>
      <th>name</th>
      <th>title</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr app-form-add *ngIf=addFormSee></tr>
    <tr *ngFor="let cl of client; let idx = index">
      <ng-template [ngTemplateOutlet]="loadTemplate(cl)"
                   [ngTemplateOutletContext]="{ $idx: idx + 1 ,$implicit: cl}">
      </ng-template>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>

<ng-template #readOnlyTemplate let-cl let-idx="$idx">
  <td>{{idx}}</td>
  <td>{{cl.id}}</td>
  <td>{{cl.phone}}</td>
  <td>{{cl.name}}</td>
  <td>{{cl.title}}</td>
  <td>
    <button (click)="updateButton(cl)">Изменить</button>
    <button (click)="deleteId(cl.id)">Удалить</button>
  </td>
</ng-template>

<ng-template #editTemplate>
  <td>-</td>
  <td>-</td>
  <td><input [(ngModel)]="this.clientUpdate.phone" placeholder="phone"/></td>
  <td><input [(ngModel)]="this.clientUpdate.name" placeholder="name"/></td>
  <td><input [(ngModel)]="this.clientUpdate.title" placeholder="title"/></td>
  <td>
    <button (click)="saveButton()">Сохранить</button>
    <button (click)="cancel()">Отменить</button>
  </td>
</ng-template>
